@import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');

body,html{
    padding: 0;
    margin: 0;
    height: 100vh;
}

body {
    font-family: 'Share Tech', sans-serif;
    color: white;
    background-color: black;
    border: solid 3px #E8B650;
}

/* NAVIGATION BAR */

.navigationBar {
    display: flex;
    justify-content: space-around;
    background-color: #E8B650;
    margin-bottom: 1.3em;
}

#spinoza {
    height: 5em;
}

.caption {
    font-style: italic;
    color: black;
}

.spanSpinoza {
    color: red;
    font-size: 0.8em;
    font-weight: bold;
}

.navigationBar > div {
    margin: auto;
    font-size: 1.3em;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

/* CENTRAL-MAIN BODY  */

.mainbody {
    display: flex;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.column {
    border: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 11px;
    margin: 8px;
    width: 100%;
    /* height: auto; */
    height: 128px;
    background-color:rgb(0, 0, 0);
    align-items: center;
}

.column:hover {
    background-color: #E8B650;
}

.leftSideBar {
    height: 100%;
    width: 20%;
    padding: 1em;
}

.rightSideBar {
    height: 100%;
    width: 20%;
    padding: 1em;
}

.card {
    color: white;
    text-align: center;
    padding: 4px;
    /* align-items: center; */
}

.card > p {
    color: rgb(0, 0, 0);
}

.card:hover {
    color: black;
}

/* LEFT SIDE BAR */

.leftList {
    color:#E8B650;
    font-size: 1.6em;
    padding-right: 5px;
}

.leftSideBar > p {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin: 6%;
    max-height: 100vh;
}

.instructions {
    text-transform: uppercase;
    color: #E8B650;
    margin-top: 0em;
    font-size: 1.5em;
    text-indent: 1.5em;
}

/* QUESTIONS' CONTAINER  */

#questionsContainer {
    width: 880px;
    height: 500px;
    padding: 50px;
    text-align: center;
    background-color: #E8B650;
    margin: 4.5% 9% 0 9%;
    display: none;
    position: absolute;
    top: 30px; 
    left: 100px;
}

.question {
    color: black;
    font-size: 4.2em;
    font-weight: bold;
    font-style: italic;
}

#questionsContainer .answers {
    color: black;
    font-size: 3.9em;
    font-weight: bold;
    border: solid 3px black;
    margin: 1.5px 0px;
}


/* RIGHT-SIDE BAR */

.progress {
    height: 400px;
    width: 25px;
    float: inherit;
    margin: 20% 40%;
    border: transparent;
  }
  .progress-bar {
    float: left;
    width: 0;
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom, #f1d395 , #daa520);
  }
